.layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  background: #f0f2f5;
}

.layout-has-sider {
  flex-direction: row;
}

.layout-sider {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  background: #fff;
  flex: 0 0 200px;
  border-right: 1px solid rgba(0,0,0,.06);
}

.layout-header {
  height: 64px;
  padding: 0 64px;
  line-height: 64px;
  background: #fff;
}

.layout-footer {
  padding: 24px 50px;
  color: rgba(0,0,0,.65);
  font-size: 14px;
  background: #f0f2f5;
}

.layout-header .layout-footer {
  flex: 0 0 auto;
}

.layout-content {
  min-height: 0;
  padding: 16px;
  flex: auto;
  -ms-flex: auto;
}

.menu {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.menu .menu-top {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  line-height: 32px;

}

.menu .menu-list .menu-item {
  height: 40px;
  margin: 0 4px;
  padding: 0 34px 0 34px;
  line-height: 40px;
}

.menu-item {
  display: block;
  color: var(--primary-font-color);
  cursor: pointer;
  text-align: center;
}

.menu-item.active, .menu-item:hover {
  color: var(--primary-color-active);
}

.content {
  width: 100%;
  min-height: 100px;
  background: #fff;
}

.content-tab {
  display: flex;
  flex-direction: row;
  line-height: 46px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.06);
  box-shadow: none;
}

.content-tab-item {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
}

.content-tab-item.active, .content-tab-item:hover {
  color: var(--primary-color-active);
}

.content-tab-item.active:after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  border-bottom: 2px solid var(--primary-color-active);
}

.content-panel {
  padding: 20px;
}

.btn {
  position: relative;
  margin-right: 8px;
  margin-bottom: 12px;
  line-height: 1.5715;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: #000000d9;
  border-color: #d9d9d9;
  background: #fff none;
}

.btn-primary {
  color: #fff;
  border-color: var(--primary-color);
  background: var(--primary-color);
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
}

.btn-primary:hover {
  border-color: var(--primary-color-hover);
  background: var(--primary-color-hover);
}