.hello {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40vmin;
  height: 40vmin;
  margin-left: -20vmin;
  margin-top: -20vmin;
}

.logo {
  width: 100%;
  pointer-events: none;
  animation: logo-spin infinite 20s linear;
}

h2 {
  width: 100%;
  text-align: center;
  color: #ffa51d;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}